# database object files, size is too large for github upload
# individual .csv files for DB tables will be provided instead 
education_employment_analytics*

# compiled, env, and large dataset files
__pycache__
.vscode/
venv/
